/* This file is for your main application css. */

body {
  font-family: "Helvetica Neue", Helvetica;
  margin: 0;
}

html, body,
body > div#app,
body > div#app > div,
div.v-container {
  height: 100%;
}

#game canvas {
  border: 5px solid #421111;
  border-radius: 3px;
}

.full-h {
  height: 100%;
}

.mgt-10 {
  margin-top: 10px;
}

